body {
  background-color: #fafafa; }

.card {
  padding: 18px;
  background: #fff;
  overflow: visible;
  border: solid lightgray thin;
  border-radius: 18px; }

.FormFields {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }
  .FormFields > li {
    list-style: none;
    margin-left: 0; }

.warning {
  padding-left: 1em; }

.orange {
  color: orange; }

span.ReviewLine {
  display: block;
  margin-left: 20px; }

span.ReviewHeaderLine {
  margin-top: 20px;
  display: block; }

span.ReviewInsideHeaderLine {
  margin-top: 10px;
  margin-left: 20px;
  display: block; }

div.ReviewList {
  margin-bottom: 20px; }
