$pad: 18px;

body {
	background-color: #fafafa;
}

.card {
	padding: $pad;
	background: #fff;
	overflow: visible;
	border: solid lightgray thin;
	border-radius: $pad;
}

.FormFields {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	> li {
		list-style: none;
		margin-left: 0;
	}
}