$pad: 18px;
$orange: orange;

%clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
	background-color: #fafafa;
}

.card {
	padding: $pad;
	background: #fff;
	overflow: visible;
	border: solid lightgray thin;
	border-radius: $pad;
}

.FormFields {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	> li {
		list-style: none;
		margin-left: 0;
	}
}

.orange { color: $orange; }

span.ReviewLine {
    display: block;
    margin-left: 20px;
}

span.ReviewHeaderLine {
    margin-top: 20px;
    display: block;
}

span.ReviewInsideHeaderLine {
    margin-top: 10px;
    margin-left: 20px;
    display: block;
}

div.ReviewList {
    margin-bottom: 20px;
}

.Error {
	width: 100%;
	position: relative;
	float: left;

	@extend %clearfix;

	.warning {
		position: absolute;
		top: -28px;
		left: -13px;

		.TooltipText {
			background-color: rgba(black, 0.7);
			color: #fff;
			padding: 4px 8px;
			display: block;
			border-radius: 4px;
			position: absolute;
			top: -3px;
			left: 20px;
			display: none;
			> span {
				white-space: nowrap;
			}
			&:after {
				content: "";
				border: solid 8px transparent;
				border-right-color: rgba(black, 0.7);
				position: absolute;
				left: -16px;
				top: 6px;
			}
		}

	}
	&:hover .TooltipText{
			display: block;
		}
}